// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower
body {
  padding: 0;
}
md-sidenav,
md-sidenav.md-locked-open{
  min-width: 200px !important;
  width: 60vw !important;
  max-width: 400px !important;
}
.white-bg {
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 5px;
}

.sidenav-content{
  align-items: stretch;
  padding: 0;
}
.sidenav-button {
  margin: 0;
}

.sidenav-button:hover {
  margin: 0;
  color: #FFFFFF
}

@media screen and (max-width: 767px) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
