<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>21 Day Veggie Challenge</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="eva21DayChallengeApp" ng-cloak>


  <md-progress-linear id="loading-bar" md-mode="indeterminate" ng-show="loading"></md-progress-linear>

  <div ng-controller="AnimCtrl">

    <div layout="column" ng-controller="NavCtrl">

      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button aria-label="button-collapse" ng-click="openLeftMenu()" show-md hide-gt-md>
            <i class="fa fa-bars pointer"></i>
          </md-button>
          <div class="md-toolbar-tools" hide-sm hide-md show-gt-md>
            <span flex></span>
            <md-button ng-hide="authentication.isAuthed" ng-href="#/home">
              <img aria-label="eva-logo" class="brand" src="images/eva-logo.png" />
            </md-button>
            <md-button ng-show="authentication.isAuthed" ng-href="#/main" class="brand">
              <img aria-label="eva-logo" class="brand" src="images/eva-logo.png" />
            </md-button>
            <span flex></span>
            <md-button class="sidenav-button" ng-show="authentication.isAuthed" ng-href="#/challenges">
              {{'nav.history' | translate}}
            </md-button>
            <md-button ng-show="authentication.isAuthed" ng-href="#/about">{{'nav.about' | translate}}</md-button>
            <md-button ng-hide="authentication.isAuthed" ng-href="#/register">{{'nav.register' | translate}}</md-button>
            <md-button ng-hide="authentication.isAuthed" ng-href="#/login"> {{'nav.login' | translate}}</md-button>
            <md-button ng-show="authentication.isAuthed" ng-href="#/settings"> {{'nav.settings' | translate}}</md-button>
            <md-button ng-show="authentication.isAuthed" ng-click="logout()" ng-href="#/logout">{{'nav.logout' | translate}}</md-button>
            <span flex></span>

          </div>
        </div>
      </md-toolbar>


      <div layout="row" ng-controller="NavCtrl">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" flex="100">
          <md-toolbar layout="column" layout-align="center center">
            <span>
              <img class="brand" src="images/eva-logo.png" />
            </span>
          </md-toolbar>
          <md-content class="sidenav-content" layout="column">
            <md-button class="sidenav-button" ng-hide="authentication.isAuthed" ng-href="#/home">
              <h4>{{'nav.home' | translate}}</h4>
            </md-button>
            <md-button class="sidenav-button" ng-show="authentication.isAuthed" ng-href="#/main">
              <h4>{{'nav.main' | translate}}</h4>
            </md-button>
            <md-button class="sidenav-button" ng-show="authentication.isAuthed" ng-href="#/challenges">
              <h4>{{'nav.history' | translate}}</h4>
            </md-button>
            <md-button class="sidenav-button" ng-show="authentication.isAuthed" ng-href="#/about">
              <h4>{{'nav.about' | translate}}</h4>
            </md-button>
            <md-button class="sidenav-button" ng-show="authentication.isAuthed" ng-href="#/settings">
              <h4>{{'nav.settings' | translate}}</h4>
            </md-button>
            <md-button class="sidenav-button" ng-hide="authentication.isAuthed" ng-href="#/register">
              <h4>{{'nav.register' | translate}}</h4>
            </md-button>
            <md-button class="sidenav-button" ng-hide="authentication.isAuthed" ng-href="#/login">
              <h4>{{'nav.login' | translate}}</h4>
            </md-button>
            <md-button class="sidenav-button" ng-show="authentication.isAuthed" ng-click="logout(); closeNav();">
              <h4>{{'nav.logout' | translate}}</h4>
            </md-button>
          </md-content>
        </md-sidenav>
      </div>
    </div>

    <ng-include ng-show="loading" id="loading-view" src="'/views/loading.html'"></ng-include>

    <div id="ui-view" ui-view ng-hide="loading" layout-fill></div>

    <div id="footer">

    </div>
  </div>




  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function(A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
  <script src="bower_components/angular-scroll-animate/dist/angular-scroll-animate.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <script src="bower_components/moment/locale/fr.js"></script>
  <script src="bower_components/moment/locale/nl.js"></script>
  <script src="bower_components/moment/locale/en-gb.js"></script>

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.module.js"></script>
  <script src="scripts/app.config.js"></script>

  <script src="scripts/controllers/animation.controller.js"></script>
  <script src="scripts/controllers/challenges.controller.js"></script>
  <script src="scripts/controllers/challenge.controller.js"></script>
  <script src="scripts/controllers/challengerecipe.controller.js"></script>
  <script src="scripts/controllers/challengerestaurant.controller.js"></script>
  <script src="scripts/controllers/challengesugarfree.controller.js"></script>
  <script src="scripts/controllers/createchallenge.controller.js"></script>
  <script src="scripts/controllers/creativecooking.controller.js"></script>
  <script src="scripts/controllers/login.controller.js"></script>
  <script src="scripts/controllers/main.controller.js"></script>
  <script src="scripts/controllers/nav.controller.js"></script>
  <script src="scripts/controllers/register.controller.js"></script>
  <script src="scripts/controllers/settings.controller.js"></script>

  <script src="scripts/services/animationService.service.js"></script>
  <script src="scripts/services/authService.service.js"></script>
  <script src="scripts/services/challengeService.service.js"></script>
  <script src="scripts/directives/ingredientcomponent.directive.js"></script>
  <script src="scripts/services/ingredientService.service.js"></script>

  <script src="scripts/services/recipeService.service.js"></script>
  <script src="scripts/services/restaurantService.service.js"></script>
  <script src="scripts/services/UserInfoService.service.js"></script>

  <script src="scripts/factories/localstorage.factory.js"></script>
  <!-- endbuild -->
</body>

</html>
