<div class="blackboard-wrapper wrapper" layout="column">

  <h1 class="text-center">{{challenge.Date | amDateFormat:'DD MMMM YYYY'}}</h1>

  <div ng-include="view"></div>

  <div layout="column">
    <div>
      <div layout-align="center" layout="row">
        <md-button class="md-primary md-raised" ng-click="markAsDone()" ng-hide="challenge.Done || challenge.TimeToAccept < 0">
          {{'challenges.btn_done' | translate}}
        </md-button>
        <div ng-show="challenge.Done">
          <h3 class="text-success">{{'challenges.txt_alreadyDone' | translate}}</h3>
        </div>
      </div>

    </div>
  </div>
</div>
