<div class="blackboard-wrapper wrapper" layout-align="center" layout="row">
  <div layout="column">
    <div>
      <h1 class="text-center">{{challenge.Date | date:'fullDate' | translate}}</h1>

      <div ng-include="view"></div>

      <div layout-align="center" layout="row">
        <md-button class="md-primary md-raised" ng-click="markAsDone()" ng-hide="challenge.Done">
          Done!
        </md-button>
        <div ng-show="challenge.Done">
          <h3 class="text-success">Je hebt deze challenge al gedaan!
          </h3>
        </div>
      </div>

    </div>
  </div>
</div>
