<div class="blackboard-wrapper" layout="column">
  <!-- CHANGE FLEX OF ENTIRE PAGE HERE -->

  <div layout="row" ng-include="'views/recipe.html'" ng-show="recipe"/>
  <h1>{{challenge.Date | date:'fullDate' | translate}}</h1>

  <div layout-align="center center" layout="column">
    <p>Pick this recipe?</p>
    <div layout="row">
      <md-button class="md-raised md-primary" ng-click="agreed()">Yes!</md-button>
      <md-button class="md-raised md-warn" ng-click="disagreed()">No</md-button>
    </div>
  </div>

</div>
