  <div layout="column" flex-gt-lg="40" flex-gt-md="50" flex-md="70" flex-sm="100"  layout-align-gt-md="center">

    <div id="recipe" flex="100">

    </div>
    <div id="recipe-region" flex="100">

    </div>

    <div id="restaurant" flex="100">

    </div>

    <div id="restaurant-region" flex="100">

    </div>

    <div id="creative cooking" flex="100">

    </div>

    <!-- <h1>Kies een type</h1>
    <md-list layout-align="center center">
      <md-list-item>
        <md-button class="md-primary md-raised type-btn" ng-show="authentication.isAuthed" ng-href="#/challenge/create/recipe">
          <h4>Recipe</h4>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary md-raised type-btn" ng-show="authentication.isAuthed" ng-href="#/challenge/create/recipe-region">
          <h4>Region recipe</h4>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary md-raised type-btn" ng-show="authentication.isAuthed" ng-href="#/challenge/create/restaurant">
          <h4>Restaurant</h4>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary md-raised type-btn" ng-show="authentication.isAuthed" ng-href="#/challenge/create/restaurant-region">
          <h4>Region restaurant</h4>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary md-raised type-btn" ng-show="authentication.isAuthed" ng-href="#/challenge/create/creative-cooking">
          <h4>Creative cooking</h4>
        </md-button>
      </md-list-item>
    </md-list> -->
  </div>
</div>
