<div layout="row" layout-align="center center" class="padding-view">
	<md-content class="bg-white" ng-show="loading" class="white-bg" flex-md="100" flex-gt-md="60">
		<div layout="row">
			<h1>{{'recipe.loading' | translate}}</h1>
		</div>
	</md-content>
  <md-content class="bg-white" ng-hide="loading" layout="column" layout-align="center center" class="white-bg" layout-padding flex-sm="100" flex-gt-sm="60">
    <h1>Kies een recept!</h1>
    <md-list ng-repeat="recipe in recipes | orderBy:'Name'">
      <md-list-item class="md-1-line">
        <p class="md-list-item-text" ng-click="setSelectedRecipe(recipe)">
          {{recipe.Name}}
        </p>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-content>
</div>
