<div layout="row" layout-align="center">
  <md-content class="white-bg" layout="column" flex-sm="75" flex-gt-sm="none" flex-md="50" flex-gt-md="none" >
    <h1>Create challenge</h1>
    <md-list>
      <md-list-item>
        <a href="#/challenge/create/recipe">Recipe</a>
      </md-list-item>
      <md-list-item>
        <a href="#/challenge/create/recipe-region">Region recipe</a>
      </md-list-item>
      <md-list-item>
        <a href="#/challenge/create/restaurant">Restaurant</a>
      </md-list-item>
      <md-list-item>
        <a href="#/challenge/create/restaurant-region">Region restaurant</a>
      </md-list-item>
      <md-list-item>
        <a href="#/challenge/create/creative-cooking">Creative cooking</a>
      </md-list-item>
    </md-list>
  </md-content>
</div>
