<div layout="row" layout-align="center center">
	<div ng-show="loading">
		<h1>Getting some recipes...</h1>
	</div>
  <div ng-hide="loading" layout="column" layout-align="center center" class="white-bg" layout-padding >
    <h1>Select a recipe</h1>
    <md-list ng-repeat="recipe in recipes | orderBy:'Name'">
      <md-list-item class="md-1-line">
        <p class="md-list-item-text" ng-click="setSelectedRecipe(recipe)">
          {{recipe.Name}}
        </p>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </div>
</div>
