<div class="blackboard-wrapper wrapper" layout-align="center" layout="row" ng-controller="ChallengeRecipesCtrl">
  <div layout="column">

    <div>

      <div layout-align="center" layout="row">
        <h2>Creative cooking challenge</h2>
      </div>

      <div layout="column">
        <ingredient-selector ingredients="selected" placeholder="Ingredient"/>
      </div>
      <md-select layout-align="center" layout="row" ng-change="onChange(recipe)" ng-model="recipe" ng-show="recipes.length > 0" placeholder="{{'recipe.pick' | translate}}">
        <md-option ng-repeat="r in recipes" ng-value="r">
          {{r.Name}}
        </md-option>
      </md-select>
    </div>

    <div ng-show="recipe">
      <div  id="recipe-body" ng-include="'views/recipe.html'"></div>

      <div layout-align="center center" layout="column">
        <p>{{'challenges.txt_takeChallenge' | translate}}</p>
        <div layout-align="center center" layout="row">
          <md-button class="md-raised md-primary" ng-click="agreed()">{{'challenges.btn_yes' | translate}}</md-button>
          <md-button class="md-raised md-warn" ng-click="disagreed()">{{'challenges.btn_no' | translate}}</md-button>
        </div>
      </div>
    </div>
  </div>

</div>
