<div class="blackboard-wrapper wrapper" layout="column">
  <!-- CHANGE FLEX OF ENTIRE PAGE HERE -->
  <div layout-align="center" layout="row">
    <div layout="column">

      <div ng-include="'views/recipe.html'" ng-show="recipe"></div>
      <h1>{{challenge.Date | date:'fullDate' | translate}}</h1>

      <div layout-align="center center" layout="row">

        <p>{{'challenges.txt_takeChallenge' | translate}}</p>
        <div>
          <md-button class="md-raised md-primary" ng-click="agreed()">{{'challenges.btn_yes' | translate}}</md-button>
          <md-button class="md-raised md-warn" ng-click="disagreed()">{{'challenges.btn_no' | translate}}</md-button>
        </div>
      </div>
    </div>
  </div>
</div>
