<div layout="column">

  <div layout-align="center" layout="row">
      <h2>Badges</h2>
  </div>

  <div layout="row" ng-show="userinfo.Badges">
    <div class="flex-list">
      <div id="badge-tile" ng-repeat="badge in reg_badges">
        <div layout-align="center" layout="row">
          <img id="badge" src="../images/badges/{{badge}}.png"/>
        </div>
        <div class="text-center" layout="column">
          <p>
            {{'badges.' + badge +'-title' | translate}}
          </p>
          <p>
            {{'badges.' + badge +'-desc' | translate}}
          </p>
        </div>
      </div>
      <!-- <md-grid-list md-cols-gt-md="6" md-cols-md="8" md-cols-sm="3" md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" md-row-height-gt-md="1:1" md-row-height="4:3">
          <md-grid-tile md-colspan-gt-sm="2" md-rowspan-gt-sm="2" ng-repeat="badge in userinfo.Badges"  ng-style="{'background-image':'url(../images/badges/{{badge}}.png)'}">
            <md-grid-tile-footer >
              <h3>{{'badges.' + badge + '_title' | translate }}</h3>
            </md-grid-tile-footer>
            <md-tooltip>
              {{ 'badges.' + badge + '_desc' | translate }}
            </md-tooltip>
          </md-grid-tile>
        </md-grid-list> -->
    </div>
  </div>
</div>
<div ng-hide="userinfo.Badges">
  {{"badges.none" | translate}}
</div>
