<div when-visible="bounceInUp" when-not-visible="invisible">

  <div id="header" layout="column">
    <div id="header-text">
      <h1 class="text-border">{{'home.title' | translate}}</h1>
      <h3 class="text-border">{{'home.headline' | translate}}</h3>
      <h3 class="text-border">{{'home.text-signup-login' | translate}}</h3>
      <div class="text-border" id="about-text">
        <h3>{{'home.text-about' | translate}}</h3>
      </div>
    </div>

  </div>
  <div class="grey" layout="column">
    <div class="container" layout="row" when-visible="fadeInLeft" when-not-visible="invisible">
      <div class="text-center" flex="100">
        <h1 id="about">{{'home.about' | translate}}</h1>
        <p>
          {{'home.about-intro-1' | translate}}
        </p>
      </div>
    </div>

    <div class="container" id="steps" layout="column">
      <div layout="row">
        <div flex="50" id="step1">
          <h3>{{'home.about-step-1-title' | translate}}</h3>
          <p>
            {{'home.about-step-1-text' | translate}}
          </p>
        </div>
      </div>

      <div layout="row">
        <span flex></span>
        <div flex="50" id="step2">
          <h3>{{'home.about-step-2-title' | translate}}</h3>
          <p>
            {{'home.about-step-2-text' | translate}}
          </p>
        </div>
      </div>

      <div layout="row">
        <div flex="50" id="step3">
          <h3>{{'home.about-step-3-title' | translate}}</h3>
          <p>
            {{'home.about-step-3-text' | translate}}
          </p>
        </div>
      </div>

      <div layout="row">
        <span flex></span>
        <div flex="50" id="step3">
          <h3>{{'home.about-step-4-title' | translate}}</h3>
          <p>
            {{'home.about-step-4-text' | translate}}
          </p>
        </div>
      </div>

      <div class="text-center" layout="row">
        <div flex="100" id="step3">
          <h3>{{'home.about-step-5' | translate}}</h3>
        </div>
      </div>
      <!-- <div layout="row" layout-align="center" flex="50">
      <div flex="20">
        <h1></h1>
      </div>
      <div>
        NOG IETS
      </div>
    </div> -->
    </div>

  </div>
</div>
