<!--
       <input type="text" ng-model="typedText" />
        <md-list ng-repeat="ingredient in showingIngredients" flex>
        <md-list-item ng-click="test(ingredient)" role="listitem">
          <div class="md-no-style md-list-item-inner md-ink-ripple">
            {{ingredient.Name}}
          </div>
        </md-list-item>
      </md-list>

-->
<div class="md-padding autocomplete" layout="column">
  <md-contact-chips filter-selected="true" md-autocomplete-snap="" md-contact-name="Name" md-contacts="search($query)" md-highlight-flags="i" md-require-match="true" ng-model="ingredients" placeholder="{{placeholder}}"></md-contact-chips>

</div>
