<!--
       <input type="text" ng-model="typedText" />
        <md-list ng-repeat="ingredient in showingIngredients" flex>
        <md-list-item ng-click="test(ingredient)" role="listitem">
          <div class="md-no-style md-list-item-inner md-ink-ripple">
            {{ingredient.Name}}
          </div>
        </md-list-item>
      </md-list>

-->
<md-content class="md-padding autocomplete" layout="column">
    <md-contact-chips
        ng-model="ingredients"
        md-contacts="search($query)"
        md-contact-name="Name"
        md-autocomplete-snap="" 
        md-require-match="true"
        md-highlight-flags="i"
        filter-selected="true"
        placeholder="{{placeholder}}">
    </md-contact-chips>
    
  </md-content>