<md-content layout-align="center" layout-padding layout="row">
  <div>
    <div layout-align="center" layout="row">
      <h1>Login</h1>
    </div>
    <form name="loginForm">
      <div layout-align="center" layout="column">
        <md-input-container>
          <label>Email</label>
          <input ng-model="user.email" type="email">
        </md-input-container>

        <md-input-container>
          <label>Wachtwoord</label>
          <input ng-model="user.password" type="password">
        </md-input-container>
      </div>

      <div layout-align="center" layout="row">
        <md-button class="md-raised md-primary">
          submit
        </md-button>
      </div>
    </form>
  </div>
</md-content>
<div layout-gt-md="row" layout-margin layout-padding layout-sm="column">
  <div flex ng-repeat='p in socialUrls'>
    <div class="socialUrl">
      <a class='btn btn-block btn-md btn-social btn-{{p.name | lowercase}}' ng-click='externalLogin($index)'>
        <i class='fa fa-{{p.name | lowercase}}'></i>
        <span>
          Sign in with
          {{p.name}}
        </span>
      </a>
    </div>
  </div>

</div>

<!--
<div id="login-view" flex>
    <form id="loginForm" name="loginForm" ng-submit="callLogin()" novalidate>
      <div class="text-center" ng-show="error">
        {{error}}
      </div>

      <legend>Login</legend>
      <div>
        <div class="form-group">
          <label for="email">Email address</label>
          <div class="text-danger" ng-show="loginForm.email.$invalid && loginForm.submitted
          || loginForm.email.$touched && loginForm.email.$invalid && !loginForm.email.$focused">
            <small ng-show="loginForm.email.$error.required">
              Your email is required.
            </small>
            <small ng-show="loginForm.email.$error.email">
              That is not a valid email. Please input a valid email.
            </small>
          </div>
          <input class="form-control" name="email" ng-focus="loginForm.submitted = false" ng-model="user.email" placeholder="Enter here your email" required type="email"/>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="text-danger" ng-show="loginForm.password.$invalid && loginForm.submitted
        || loginForm.password.$touched && loginForm.password.$invalid && !loginForm.password.$focused">
          <small ng-show="loginForm.email.$error.required">
            Your password is required.
          </small>
        </div>
        <input class="form-control" name="password" ng-focus="loginForm.submitted = false" ng-model="user.password" placeholder="Enter your password" required type="password"/>
      </div>

      <div class="form-group text-center">
        <button class="btn btn-success" type="submit">
          login
        </button>
      </div>

      <div class="form-group text-center">
        <p class="text-info">
          <a ng-href="#/register">Nog geen account?</a>
        </p>
      </div>
    </form>
  </div>
  <div ng-repeat='p in socialUrls'>
    <div class="col-sm-4 socialUrl">
      <a class='btn btn-block btn-md btn-social btn-{{p.name | lowercase}}' ng-click='externalLogin($index)'>
        <i class='fa fa-{{p.name | lowercase}}'></i>
        <span>
          Sign in with
          {{p.name}}
        </span>
      </a>
    </div>
</div>
-->
