<div id="loginWrapper">

  <div id="login" layout="row" layout-align="center" when-visible="bounceInUp">
    <div id="loginForm" layout="column" flex-gt-lg="40" flex-gt-md="50" flex-md="70" flex-sm="100"  layout-align-gt-md="center" >
      <div layout-align="center center" layout="column">
        <div ng-show="error" when-not-visible="removeFadeInLeft" when-visible="fadeInLeft">
          {{error | translate}}
        </div>
        <div>
          <h1 ng-click="fillin()">{{'login.loginButton' | translate}}</h1>
        </div>
        <div>
          <a ng-href="#/register">{{'login.noAccount' | translate}}</a>
        </div>
      </div>

      <form id="loginForm" name="loginForm" ng-submit="callLogin()" novalidate>
        <div layout-align="center" layout-margin layout-padding layout="column">
          <md-input-container>
            <label>{{'login.email' | translate}}</label>
            <input name="email" ng-model="user.email" required type="email">

            <div ng-messages="loginForm.email.$error" ng-show="loginForm.$submitted || loginForm.email.$touched">
              <div ng-message="required">{{'login.errors.emailRequired' | translate}}</div>
              <div ng-message="email">{{'login.errors.emailInvalid' | translate}}</div>
            </div>

          </md-input-container>

          <md-input-container>
            <label>{{'login.password' | translate}}</label>
            <input name="password" ng-model="user.password" required type="password">
            <div ng-messages="loginForm.password.$error" ng-show="loginForm.$submitted || loginForm.password.$touched">
              <div ng-message="required">{{'login.errors.passwordRequired' | translate}}</div>
            </div>
          </md-input-container>
        </div>

        <div layout-align="center" layout="row">
          <md-button class="md-raised md-primary" type="submit">
            {{'login.loginButton' | translate}}
          </md-button>
        </div>
      </form>

      <div layout-gt-sm="row" layout-margin layout-sm="column">
        <div flex layout-padding ng-repeat='p in socialUrls'>
          <div class="socialUrl">
            <a class='btn btn-block btn-md btn-social btn-{{p.name | lowercase}}' ng-click='externalLogin($index)'>
              <i class='fa fa-{{p.name | lowercase}}'></i>
              {{p.name}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
