<div class="container" id="login-view">

  <div class="row col-sm-12">
    <form id="loginForm" name="loginForm" ng-submit="callLogin()" novalidate>
      <div class="text-center" ng-show="error">
        {{error}}
      </div>

      <legend>Login</legend>
      <div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input class="form-control" name="email" ng-model="user.email" placeholder="Enter here your email" required type="email"/>
        </div>

        <!--
        <div class="error" ng-show="login.email.$dirty && login.email.$invalid">
        <small class="error" ng-show="login.email.$error.required">
        Your email is required.
      </small>
      <small class="error" ng-show="login.email.$error.email">
      That is not a valid email. Please input a valid email.
    </small>
  </div>
</div>
-->
        <div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name="password" ng-model="user.password" placeholder="Enter your password" required type="password"/>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-success" ng-disabled="loginForm.$invalid" type="submit">
              login</button>
          </div>

          <div class="form-group text-center">
            <p class="text-info">
              <a ng-href="#/register">Nog geen account?</a>
            </p>
          </div>
        </form>
      </div>
      <div ng-repeat='p in socialUrls'>
        <div class="col-sm-6 socialUrl">
          <a class='btn btn-block btn-md btn-social btn-{{p.name | lowercase}}' ng-click='externalLogin($index)'>
            <i class='fa fa-{{p.name | lowercase}}'></i>
            <span>
              Sign in with
              {{p.name}}
            </span>
          </a>
        </a>
      </div>
    </div>

  </div>
