<div class="blackboard-wrapper wrapper" ng-init="init()">

  <div flex="100" layout="column">
    <div id="main-header">
      <div layout-align="end" layout="row">

        <p class="bg-black" id="welcome">
          {{'main.welcome' | translate}}
          {{userinfo.FirstName}}
          {{userinfo.LastName}}!
        </p>
      </div>

      <div layout-align="center" layout="row" ng-show="currentChallenge.Type === 'Recipe' && currentChallenge.Done === false && currentChallenge.TimeToAccept > 0">
        <div layout="column" layout-align="center">
          <div layout="row" class="bg-black">
            <img class="img-responsive" id="img-main" src="{{currentChallenge.Thumbnail}}" />
            <div layout="column" layout-align="center center" id="main-expl">
              <p>
                {{'challenges.pointsToEarn' | translate}}
                {{currentChallenge.Earnings}}
              </p>
              <p>
                {{'challenges.timeLeft' | translate}}
                {{currentChallenge.TimeToAccept | amDurationFormat : 'minute'}}
              </p>
              <md-button class="md-primary md-raised" ng-click="seeDetails()">{{'main.checkDetails' | translate}}</md-button>
            </div>
          </div>
        </div>
      </div>


      <div layout-align="center" layout="row">
        <div layout="column" layout-align="center center" class="bg-black">
          <h3>{{'main.noChallenge' | translate}}</h3>
          <md-button class="md-primary md-raised" ng-click="getChallenge()">{{'main.newChallenge' | translate}}</md-button>
        </div>
      </div>
    </div>

    <md-progress-linear md-mode="determinate" value="{{next}}"></md-progress-linear>
    <p>{{next}}</p>

    <!-- STATS -->
    <div id="stats">
      <h1>Statistieken</h1>

      <div ng-include="'../views/badges.html'"></div>
    </div>
    <!-- close stats -->
  </div>
</div>

<!-- close wrapper -->
