<div layout-align="center center" layout="row" ng-init="init()" flex="100">

  <md-content layout-padding layout="column" flex="100">
    <div id="welcomeDiv" layout-align="center center" layout="column">
      <h1>Welkom terug!</h1>
      <md-progress-circular md-mode="determinate" value="{{progress.amountOfDays * progress.percentagePerDay}}" md-diameter="99%"></md-progress-circular>

      <h2>
        U zit op dag
        {{progress.amountOfDays}}
        van de 21 day veggie challenge.
      </h2>

    </div>
    <div ng-include="'views/recipe.html'" ng-show="{{challenge.recipe}}"/>

  </md-content>
</div>
