<!-- TODO include translations -->
<div layout-align="center" layout="row">

  <div layout="column" flex="100">
    <div class="recipe-image">
      <!-- use code below to set background-image to the recipe.image of an element -->
      <!-- ng-style="{'background-image':'url({{recipe.Image}})'}" -->
      <div class="inset-white" id="recipe-header" layout-align="center" layout="column">
        <h2>{{recipe.Name}}</h2>
      </div>
    </div>

    <div class="recipe-properties" ng-repeat="property in recipe.Properties">
      <div class="recipe-property">
        <span class="title">{{property.Type}}</span>:
        <span class="value">{{property.Value}}</span>
      </div>
    </div>

    <h3>Ingrediënten</h3>

    <table class="table text-center">
      <thead>
        <tr>
          <th class="text-center">
            Quantiteit
          </th>
          <th class="text-center">
            Eenheid
          </th>
          <th class="text-center">
            Naam
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ingredient in recipe.Ingredients">
          <td>
            {{ingredient.Quantity}}
          </td>
          <td>
            {{ingredient.Ingredient.Unit}}
          </td>
          <td>
            {{ingredient.Ingredient.Name}}
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <md-list>
    <md-list-item class="recipe-ingredients" ng-repeat="ingredient in recipe.Ingredients">
      <div class="recipe-ingredient md-list-item-text"></table>
      <span class="quantity">{{ingredient.Quantity}}</span>
      <span class="unit">{{ingredient.Ingredient.Unit}}</span>
      <span class="name">{{ingredient.Ingredient.Name}}</span>
    </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list> -->
    <h3 class="dark-green">Beschrijving</h3>
    <div class="recipe-description" ng-bind-html="recipe.Description"></div>
  </div>
</div>
