<div class="container" id="register-view">

  <div class="row col-md-offset-2 col-md-10">
    <form id="registerForm" name="signUp_form" ng-submit="callRegister()" novalidate>
      <div ng-show='error'>
        {{error}}
      </div>

      <legend>Sign up</legend>
      <div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input class="form-control" ensure-unique="email" name="email" ng-class="{error: signUp_form.email.$dirty &&
          signUp_form.email.$invalid}" ng-minlength=3 ng-model="user.email" placeholder="Enter here your email" required type="email"/>
        </div>

        <div class="error" ng-show="signUp_form.email.$dirty &&
       signUp_form.email.$invalid && !signUp_form.email.$focused">
          <small class="error" ng-show="signUp_form.email.$error.minlength">
            Your email is required to be at least 3 characters.
          </small>
          <small class="error" ng-show="signUp_form.email.$error.email">
            That is not a valid email. Please input a valid email.
          </small>
          <small class="error" ng-show="signUp_form.email.$error.unique">
            That email is taken, please try another.
          </small>
        </div>
        <div class="error" ng-show="signUp_form.email.$dirty &&
       signUp_form.email.$invalid && signUp_form.submitted">
          <small class="error" ng-show="signUp_form.email.$error.required">
            Your email is required.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" name="password" ng-model="user.password" placeholder="Enter here your password" required type="password"/>
      </div>
      <div class="form-group">
        <label for="password">Confirm password</label>
        <input class="form-control" match="user.password" name="password" ng-model="confirmPassword" placeholder="Enter here your password" required type="password"/>
      </div>

      <div class="form-group text-center">
        <button class="btn btn-success" type="submit">register</button>
      </div>
    </form>
  </div>
</div>
