<div layout-align="center center" layout="row" ng-show="currentRestaurant">
  <div layout="column">

    <h3>{{currentRestaurant.Name}}</h3>
    <p id="restaurant-desc" ng-bind-html="currentRestaurant.Description">{{currentRestaurant.Description}}</p>
    <p>
      {{currentRestaurant.Street}}
    </p>
    <p>
      {{currentRestaurant.Postal}}
      {{currentRestaurant.City}}
    </p>
    <p ng-show="currentRestaurant.Email">
      {{currentRestaurant.Email}}
    </p>
    <p ng-show="currentRestaurant.Website">
      <a target="blank" href="{{currentRestaurant.Website}}">Website</a>
    </p>
  </div>
</div>
