<div class="fillinWrapper">

  <div flex="100" id="settings" class="bg-black" layout="column" when-visible="bounceInUp">
    <div layout-align="center center" layout="column">
      <div ng-show="error">
        {{error | translate}}
      </div>
      <div>
        <h1 class="text-white">{{'settings.userSettings' | translate}}</h1>
      </div>
    </div>

    <form id="settingsForm" name="settings_form" ng-submit="callSettings()" novalidate>
      <div layout-align="center" layout-margin layout-padding layout="column">
        <md-input-container>
          <label>{{'settings.firstname' | translate}}</label>
          <input ng-model="user.firstname" type="text">
        </md-input-container>
      </div>

      <div layout-align="center" layout-margin layout-padding layout="column">
        <md-input-container>
          <label>{{'settings.lastname' | translate}}</label>
          <input ng-model="user.lastname" type="text">
        </md-input-container>
      </div>

      <div layout-align="center" layout-margin layout-padding layout="column">
        <label>{{'settings.birthdate' | translate}}</label>

        <md-datepicker md-placeholder="Geboortedatum" ng-model="user.birthdate"></md-datepicker>

      </div>

      <div layout-align="center" layout-margin layout-padding layout="column">
        <ingredient-selector ingredients="selected" placeholder="{{'settings.allergies' | translate}}" />
      </div>

      <div layout-align="center" layout-margin layout-padding layout="column">
        <md-input-container>
          <label>{{'settings.budget' | translate}}</label>
          <md-select ng-model="user.budget">
            <md-option ng-value="budget" ng-repeat="budget in budgetList">
              {{budget | translate}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout-align="center" layout-margin layout-padding layout="column">
        <md-input-container>
          <label>{{'settings.typeOfVegan' | translate}}</label>
          <md-select ng-model="user.typeOfVegan">
            <md-option ng-value="type" ng-repeat="type in typeOfVeganList">
              {{type | translate}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout-align="center" layout-margin layout-padding layout="column">
        <label>{{'settings.peopleInFamily' | translate}}</label>
        <md-radio-group ng-model="user.peopleInFamily">
          <md-radio-button ng-repeat="people in peopleInFamilyList" ng-value="{{people}}">{{people}}</md-radio-button>
          <md-radio-button value="5">5+</md-radio-button>
        </md-radio-group>
      </div>

      <div layout-align="center" layout-margin layout="row">
        <md-button class="md-raised md-primary" type="submit">
          {{'settings.save' | translate}}
        </md-button>
      </div>
    </form>
  </div>
</div>
